<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="product_label" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Labels</label>
                <field id="discount_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Discount Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="discount_mask" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Mask for discount</label>
                    <comment>Use {D} as discount value</comment>
                </field>
                <field id="pdp_position" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Label posiiton for product detail page</label>
                    <source_model>BPerevyazko\ProductLabel\Model\System\Config\Source\Position</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
