<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="BPerevyazko\ProductLabel\Model\CompositeLabelProvider">
        <arguments>
            <argument name="labelProviders" xsi:type="array">
                <item name="discount_provider" xsi:type="object">BPerevyazko\ProductLabel\Model\Providers\DiscountProvider</item>
                <item name="attribute_provider" xsi:type="object">BPerevyazko\ProductLabel\Model\Providers\AttributeProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="bperevyazko_product_label_configurable_config"
                type="BPerevyazko\ProductLabel\Plugin\ConfigurableProduct\Block\Product\View\Type\ConfigurablePlugin" sortOrder="10" />
    </type>

    <type name="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle">
        <plugin name="bperevyazko_product_label_bundle_config"
                type="BPerevyazko\ProductLabel\Plugin\Bundle\Block\Catalog\Product\View\Type\BundlePlugin" sortOrder="10" />
    </type>
</config>
